<!-- Delete a category -->

{% extends "base.html" %}
{% block title %}Delete Category {{category.name}} - Catalog App{% endblock %}
{% block content %}

<h3> Are you sure you want to delete {{category.name}} and all of it's items? </h3>

<form method='post'>
    {{ form.csrf_token }}
    <button type="submit" class="btn btn-default delete" id="submit" type="submit">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
    </button>
    <a href="{{url_for('category', name = category.name)}}" class="btn btn-default delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </a>
</form>
{% endblock %}